.active{
    background-color: crimson;
    color: white;
}

.active .currency{
    color: white;
}

.btn-acheter{
    border-radius: 20px;
    border: none;
    padding: 10px;
    background-color: crimson;
    text-transform: uppercase;
    color: white;
}

.btn-acheter:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.btn-acheter-active{
    background-color: white;    
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    padding: 10px;
}
.nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 1px solid black;
    align-items: center;
    background-image: url(/image/bg.webp);
}


.element-flex{
    flex: 0 1 20%;
    font-weight: bolder;
    color: white;
}
.card{ 
    border-radius: 10px;
    box-shadow: 0px 10px 13px -7px #000000, 4px 5px 19px 1px rgba(0,0,0,0);
    padding: 10px;
    margin: 0 10px;
    width: 20%;
}

.cat{
    width: 50%;
}


.currency{
    color: gray;
    
    
}
.container{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}




.prix{
    font-size: 30px;
}
.center{
    text-align: center;
}
@media screen and (max-width: 980px) {
.card{
    width: 40%;
    margin-bottom: 20px;
}
}
@media screen and (max-width: 780px) {
    .container{
        flex-flow: column wrap;
        align-items: center;
    }
    .card{
        width: 80%;
        margin: 10px 0;
    }
    .element-flex{
        margin: 10px;
    }

    .nav{
        flex-flow: column wrap;
        border: none;
        margin: auto;
        text-align: center;
    }


}