body{
    margin: 0;
    box-sizing: border-box;
}


.active .currency{
    color: white;
}

.card:hover{
    background-color: crimson;
    color: white;
}
.card:hover li {
    background-color: crimson;
    color: white; 
}
.card:hover .btn-acheter {
    background-color: white;
    color: black;
}

.nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 1px solid black;
    align-items: center;
    background-image: url(/image/bg.webp);
}

.btn-acheter{
    border-radius: 20px;
    border: none;
    padding: 10px;
    background-color: crimson;
    text-transform: uppercase;
    color: white;
}

.element-flex{
    flex: 0 1 20%;
    font-weight: bolder;
    color: white;
}
.card{ 
    border-radius: 10px;
    box-shadow: 0px 10px 13px -7px #000000, 4px 5px 19px 1px rgba(0,0,0,0);
    padding: 10px;
    margin: 1%;
    width: 20%;
}

.cat{
    width: 150px;
}


.currency{
    color: gray;
    vertical-align: top;
    font-size: 25px;
    
}
.container{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}




.prix{
    font-size: 30px;
}
.center{
    text-align: center;
}



@media screen and (max-width: 1080px) {
.card{
    width: 40%;
    margin-bottom: 1%;
}
}
@media screen and (max-width: 780px) {
    .container{
        flex-flow: column wrap;
        align-items: center;
    }
    .card{
        width: 90%;
        margin: 1%;
    }
    .element-flex{
        margin: 10px;
    }

    .nav{
        flex-flow: column wrap;
        border: none;
        margin: auto;
        text-align: center;
    }


}